<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="#">World Cup</a>
        </div>
        <div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li *ngFor="let group of groups"><a href="#{{group.Name}}">Group {{group.Name}}</a></li>
              <li><a href="#SecondRound">Second Round</a></li>
              <!-- <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Section 4 <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#section41">Section 4-1</a></li>
                  <li><a href="#section42">Section 4-2</a></li>
                </ul>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </nav>    
<!-- <img src = '/assets/logo/WorldCup.png' /> -->

<div class="container">
    <div *ngFor="let group of groups; let i = index" id={{group.Name}} class="container-fluid">
        <!-- <app-group [Name] = "group.Name" [Teams] = "group.Teams"></app-group> -->
        <app-group (finals[0].HomeTeam) = "emitHomeTeamEvent($event)" (finals[0].AwayTeam) = "emitAwayTeamEvent($event)" [Group] = "group"></app-group>
      </div>
<!-- <app-group *ngFor="let group of groups" [Name] = "group.Name" [Teams] = "group.Teams"></app-group> -->
<!-- Seminfinals -->
</div>
<div class="well" style="margin-top:100px" >
<table id ="SecondRound" width="100%">
  <tbody>
    <tr>
      <td>
        <match Name="1/8 Final" [HomeTeam] = "groups[0].FirstPlaceTeam" [AwayTeam] = "groups[0].SecondPlaceTeam"></match>
        </td>
      </tr>
      <!-- <tr>
      <td rowspan="2">
          <match Name="Quarterfinals" [HomeTeam] = "groups[0].Teams[0]"></match>
        </td>
      <td rowspan="4">
          <match Name="Semifinals" [HomeTeam] = "groups[0].Teams[0]"></match>
      </td>
      <td rowspan="8">
          <match Name="Final"></match>
      </td>
    </tr>
    <tr>
      <td>
        <match Name="1/8 Final" [HomeTeam] = "groups[0].Teams[0]"></match>
      </td>
    </tr>
    <tr>
      <td>
        <match Name="1/8 Final" [HomeTeam] = "groups[0].Teams[0]"></match>
      </td>
      <td rowspan="2">
        <match Name="Quarterfinals" [HomeTeam] = "groups[0].Teams[0]"></match>
      </td>
    </tr>
    <tr>
      <td>
        <match Name="1/8 Final" [HomeTeam] = "groups[0].Teams[0]"></match>
      </td>
    </tr>
    <tr>
      <td>
        <match Name="1/8 Final" [HomeTeam] = "groups[0].Teams[0]"></match>
      </td>
      <td rowspan="2">
        <match Name="Quarterfinals" [HomeTeam] = "groups[0].Teams[0]"></match>
      </td>
      <td rowspan="4">
        <match Name="Semifinals" [HomeTeam] = "groups[0].Teams[0]"></match>
      </td>
    </tr>
    <tr>
      <td>
        <match Name="1/8 Final" [HomeTeam] = "groups[0].Teams[0]"></match>
      </td>
    </tr>
    <tr>
      <td>
        <match Name="1/8 Final"  [HomeTeam] = "groups[0].Teams[0]"></match>
      </td>
      <td rowspan="2">
        <match Name="Quarterfinals" [HomeTeam] = "groups[0].Teams[0]"></match>
      </td>
    </tr>
    <tr>
      <td>
        <match Name="1/8 Final" [HomeTeam] = "groups[0].Teams[0]"></match>
      </td>
    </tr> -->
  </tbody>
</table>
</div>