<div class="well" style="margin-top:100px">
    <h2 class="text-center">Group {{Group.Name}}</h2>         
    <table class="table table-striped" id="groupTable{{Group.Name}}">
      <thead>
        <tr>
          <th>Team</th>
          <th><abbr title="Matches played">M</abbr></th>
          <th><abbr title="Matches won">W</abbr></th>
          <th><abbr title="Draw in matches">D</abbr></th>
          <th><abbr title="Matches lost">L</abbr></th>
          <th><abbr title="Goals Against">G-</abbr></th>
          <th><abbr title="Goals For">G+</abbr></th>
          <th><abbr title="Goals Difference">G+/-</abbr></th>
          <th><abbr title="Points">P</abbr></th>
        </tr>
      </thead>
      <tbody>
        <tr [ngClass]="(this.AllMatchesPlayed)? (i > 1 ? 'danger':'success'):''" 
          *ngFor = "let team of Group.Teams; let i = index" [group-team] = "team"></tr>
      </tbody>
    </table>
    <div class="row">
    <div class="col-md-4" *ngFor = "let match of Group.Matches">
    <div class="panel panel-primary">
        <div class="panel-heading">Match</div>
        <div class="panel-body" >
          <div class="row">
            <div class="col-md-4">
            <img [src]="match.HomeTeam.FlagURL"> {{ match.HomeTeam.Name }}
          </div>
          <div class="col-md-4">
            <div align="center">
              <input maxlength="2" [(ngModel)]="match.HomeGoals" (blur)="setPoints()">:<input maxlength="2" [(ngModel)]="match.AwayGoals" (blur)="setPoints()">
            </div>
          </div>
          <div class="col-md-4">
            <img [src]="match.AwayTeam.FlagURL" style="float:right">
            <p style="float:right">{{ match.AwayTeam.Name }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>